*{
    background-color: white;
    font-family: sans-serif;
}

.container{
    position: relative;
    margin: 70px auto; 
    width: 55%;
    height: auto;
    padding: 30px;
    background: #111111;
    border: 10% solid white;
    border-radius: 5px;
    
}
.Resultado{
    position: relative;
    width: 96%;
    height: auto;
    padding: 6px;
    background-color: #cccccc;
}

.buttons{
    margin-top: 20px;
    width: 96%;
    height: auto;
    padding: 10px;
    background: #111111;
    color: black;
}
.campo{
    width: 100%;
    height: 87px;
    border:none;
    background-color:  #cccccc;    color: #aaaaaa;
    font-size: 230%;
    text-align: right;
    color: black;
}   

.btn{
    margin-top: 10px;
    margin-left: 2px;
    width: 20%;
    height: 10%;
    background-color:  #cccccc;
    color: white;
    font-size: 100%;
    border-radius: 10px;
    border: 2px solid;
}
.btn:hover{
    cursor: pointer;
    background-color:#aaaaaa; 
}


.btn-igual{
    width: 48%;
    height: 7%;
    position:absolute;
    border-radius: 10px;
    background-color: #FF851B;
    margin-top: 10px;
    margin-left:10px;
}

